body {
  /* fondo gris obscuro casi negro */
  background-color: #fff;
}

.hero-section {
  overflow: hidden;
  height: 550px;
}

#invitation-card {
  position: relative;
  margin: 0 auto;
  width: 600px;
  text-align: center;

}

.card-content {
  position: relative;
  z-index: 20;
  background: #FFF;
  padding: 30px;
  top: 130px;
  height: 300px;
  width: 450px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
}

#invitation-card:before {
  content: url(img/test-bg4.png);
  display: block;
  position: absolute;
  top: 0px;
  z-index: 10;
  animation: dropEnvelope 5s 2s forwards;
}

#invitation-card:after {
  content: url(https://s3-us-west-2.amazonaws.com/dynamic-catholic.com/home/best-advent-ever/invitational+LP/test-fg.png);
  display: block;
  position: absolute;
  top: 124px;
  z-index: 30;
  width: 100%;
  animation: dropEnvelope 5s 2s forwards;
}

@keyframes dropEnvelope {
  0% {
    transform: translateY(0%)
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}