@font-face {
  font-family: 'Elegante';
  src: url('fonts/ElegantWedding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Eleganto';
  src: url('fonts/ElegantoSans-Thin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Eleganto', normal;
  font-size: 15px;
  font-weight: bolder;
  color: #000;
  background-color: #e8a7ad;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18c0-1.105.887-2 1.998-2 1.104 0 2-.895 2.002-1.994V14v6h-4v-2zM0 13.998C0 12.895.888 12 2 12c1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2 .888 2 2v2H0v-6.002zm16 4.004A1.994 1.994 0 0 1 14 20c-1.105 0-2-.887-2-1.998v-4.004A1.994 1.994 0 0 0 10 12c-1.105 0-2-.888-2-2 0-1.105-.888-2-2-2-1.105 0-2-.887-2-1.998V1.998A1.994 1.994 0 0 0 2 0a2 2 0 0 0-2 2V0h8v2c0 1.105.888 2 2 2 1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2-.888 2-2 0-1.105.888-2 2-2 1.105 0 2-.888 2-2V0h4v6.002A1.994 1.994 0 0 1 22 8c-1.105 0-2 .888-2 2 0 1.105-.888 2-2 2-1.105 0-2 .887-2 1.998v4.004z' fill='%23dd969c' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.textos {
  padding-top: 5%;
  align-items: justify;
  width: 80%;
  height: 80%;
}

.hero-section {
  overflow: hidden;
  height: 550px;
}

.capital::first-letter {
  font-size: 3.5em;
  /* Tamaño de la letra capital */
  font-weight: bold;
  /* Peso de la letra capital */
  float: left;
  /* Hace que la letra capital flote a la izquierda */
  margin-right: 0.1em;
  /* Espacio a la derecha de la letra capital */
  line-height: 1;
  /* Altura de línea */
}

.elegante {
  font-family: 'Elegante', normal;
  font-size: 50px;
  color: #000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  z-index: 100;
}

.elegante2 {
  font-family: 'Elegante', normal;
  color: #000;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  font-weight: normal;
  margin-right: 2%;
}

#invitation-card {
  position: relative;
  margin: 0 auto;
  width: 600px;
  text-align: justify;
  animation: slideUp 2s ease-in-out forwards;
}

.card-content {
  position: relative;
  z-index: 20;
  background: #ffffff;
  background-image: url('img/CARD3.png');
  background-size: 99%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 30px;
  top: 10px;
  height: 300px;
  width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.75);
}

#invitation-card:before {
  content: url(img/test-bg6.png);
  display: block;
  position: absolute;
  top: -70px;
  z-index: 10;
  animation: dropEnvelope 5s 2s forwards;
}

#invitation-card:after {
  content: url(img/test-fg3.png);
  display: block;
  position: absolute;
  top: 54px;
  z-index: 30;
  width: 100%;
  animation: dropEnvelope 5s 2s forwards;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}


@keyframes dropEnvelope {
  0% {
    transform: translateY(0%)
  }

  60% {
    opacity: 1;
  }

  100% {
    transform: translateY(700px);
    opacity: 0;
  }
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2%;
}

.button-container p {
  margin-top: 5px;
  font-size: 12px;
  color: #000;
  text-align: center;
}


.buttons {
  z-index: 1;
  position: absolute;
  bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons button {
  /* border-radius: 50%; */
  width: 40px;
  height: 40px;
  border: none;

  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 5% 0 5%;
}

.buttons img {
  filter: grayscale(1);
  /* Imagen en escala de grises por defecto */
  transition: filter 0.4s ease-in-out, transform 0.4s ease-in-out;
  /* Transición suave */
}

.buttons button:hover img {
  filter: grayscale(0);
  /* Imagen en color rosado casi morado al pasar el cursor */
  transform: scale(1.3);
  /* Aumenta el tamaño del botón en un 30% */
}


.buttons button {
  background-color: #fff;
}

.modal {
  display: none;
  /* Ocultar por defecto */
  position: fixed;
  /* Fijar la posición */
  z-index: 1000;
  /* Asegurarse de que esté por encima de otros elementos */
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Habilitar el desplazamiento si es necesario */
  background-color: rgba(0, 0, 0, 0.5);
  /* Fondo semitransparente */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  /* Centrar verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Ancho del modal */
  max-width: 600px;
  /* Ancho máximo del modal */
  border-radius: 10px;
  /* Bordes redondeados */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  /* Sombra */
  animation: fadeIn 0.5s;
  /* Animación de entrada */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media screen and (orientation: portrait) {
  .landscape-only {
    display: none;
  }

  .portrait-warning {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: crimson;
    text-align: center;
    font-size: 5em;
    padding: 20px;
    z-index: 10000;
  }
}

@media screen and (orientation: landscape) {
  .landscape-only {
    display: block;
  }

  .portrait-warning {
    display: none;
  }
}

.modal-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-column {
  flex: 1;
  padding: 10px;
}

.modal-column:first-child {
  margin-right: 10px;
}

.modal h2 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.modal p, .modal ul {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.modal a {
  color: #007BFF;
  text-decoration: none;
}

.modal a:hover {
  text-decoration: underline;
}

.modal h2 img {
  vertical-align: middle; /* Alinea el ícono verticalmente con el texto */
  margin-right: 10px; /* Espacio entre el ícono y el texto */
}