.hero-section{
  overflow: hidden;
  height: 550px;
}

#invitation-card{
 position: relative;
  margin: 0 auto;
  width: 600px;
  text-align: center;
  
}
.card-content{
  position: relative;
  z-index: 20;
  background: #FFF;
  padding: 30px;
  top: 130px;
  height: 300px;
  width: 450px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
box-shadow: 0px 3px 14px 0px rgba(0,0,0,0.75);
}
#invitation-card:before{
  content: url(https://s3-us-west-2.amazonaws.com/dynamic-catholic.com/home/best-advent-ever/invitational+LP/test-bg.png);
  display: block;
  position: absolute;
  top: 0px;
  z-index: 10;
 animation: dropEnvelope 5s 2s forwards;
}
#invitation-card:after{
  content: url(https://s3-us-west-2.amazonaws.com/dynamic-catholic.com/home/best-advent-ever/invitational+LP/test-fg.png);
  display: block;
  position: absolute;
  top: 124px;
  z-index: 30;
  width: 100%;
  animation: dropEnvelope 5s 2s forwards;
}

@keyframes dropEnvelope{
  0%{transform: translateY(0%)}
  60%{opacity: 1;}
  100%{transform: translateY(700px); opacity: 0;}
}

.centrar{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
:root{
  --do-darkpurple: rgb(63, 36, 89);
  --do-purple: rgb(122, 50, 175);
  --do-lightpurple: rgb(162, 98, 210);
  --do-palepurple: rgb(204, 171, 228);
  --do-darkmint: rgb(23, 84, 84);
  --do-mint: rgb(31, 185, 185);
  --do-lightmint: rgb(145, 218, 218);
  --do-gray:rgb(96, 96, 96);
  --do-lightgray:rgb(191, 191, 191);
  --do-tablegray:rgb(232, 232, 232);
  }
  .h_5  {height:5%;}
  .h_10 {height:10%;}
  .h_15 {height:15%;}
  .h_20 {height:20%;}
  .h_25 {height:25%;}
  .h_30 {height:30%;}
  .h_35 {height:35%;}
  .h_40 {height:40%;}
  .h_45 {height:45%;}
  .h_50 {height:50%;}
  .h_55 {height:55%;}
  .h_60 {height:60%;}
  .h_65 {height:65%;}
  .h_70 {height:70%;}
  .h_75 {height:75%;}
  .h_80 {height:80%;}
  .h_85 {height:85%;}
  .h_90 {height:90%;}
  .h_95 {height:95%;}
  .h_100{height:100%;}
  
  .h5  {height:5px;}
  .h10 {height:10px;}
  .h15 {height:15px;}
  .h20 {height:20px;}
  .h25 {height:25px;}
  .h30 {height:30px;}
  .h35 {height:35px;}
  .h40 {height:40px;}
  .h45 {height:45px;}
  .h50 {height:50px;}
  .h55 {height:55px;}
  .h60 {height:60px;}
  .h65 {height:65px;}
  .h70 {height:70px;}
  .h75 {height:75px;}
  .h80 {height:80px;}
  .h85 {height:85px;}
  .h90 {height:90px;}
  .h95 {height:95px;}
  .h100{height:100px;}
  
  .h_5vh  {height:5vh;}
  .h_10vh {height:10vh;}
  .h_15vh {height:15vh;}
  .h_20vh {height:20vh;}
  .h_25vh {height:25vh;}
  .h_30vh {height:30vh;}
  .h_35vh {height:35vh;}
  .h_40vh {height:40vh;}
  .h_45vh {height:45vh;}
  .h_50vh {height:50vh;}
  .h_55vh {height:55vh;}
  .h_60vh {height:60vh;}
  .h_65vh {height:65vh;}
  .h_70vh {height:70vh;}
  .h_75vh {height:75vh;}
  .h_80vh {height:80vh;}
  .h_85vh {height:85vh;}
  .h_90vh {height:90vh;}
  .h_95vh {height:95vh;}
  .h_100vh{height:100vh;}

  ::-webkit-scrollbar {width: 10px;}
  ::-webkit-scrollbar-track {box-shadow: inset 0 0 5px grey; border-radius: 10px;}
  ::-webkit-scrollbar-thumb {background: var(--do-purple); border-radius: 10px;}
  ::-webkit-scrollbar-thumb:hover {background: var(--do-purple);}
  body{
  margin:0;
  background: #434b58;
  overflow: hidden;
}
#main{
  width: 150vw;
  height: 160vh;
  background: #9b94a4 url(http://www.frontendmx.com/bodapatos/img/stock/rings.jpg) no-repeat center / cover;
  background-blend-mode: multiply;
  filter: blur(5px);
  animation: blurear 2s 1;
}
.canvas{
  width: calc(80vh/1.2);
  height: 80vh;
}
#cover{
  background: #9b94a4 url(http://www.frontendmx.com/bodapatos/img/cover.png) no-repeat center / cover;
  z-index: 1;
}
#invitado{
  width: 100%;
  height: 30%;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 10vh;
  color: #bdbdbd;
}
#invite{
  background: #e5dbeb url(http://www.frontendmx.com/bodapatos/img/stock/toast.jpg) no-repeat center / cover;
  background-blend-mode: screen;
  border-radius: 5px;
  box-shadow: 0 0 100px 0px #2d232d;
  transform: rotate(-0deg);
  z-index: 2;
  animation: invitecolor 2s 1;
  /* display: none; */
}
@keyframes invitecolor{
  0%{background-color: #000;}
  100%{background-color: #e5dbeb;}
}
@keyframes blurear{
  0%{filter: blur(0);}
  100%{filter: blur(5px);}
}
#frame{
  background: url(http://www.frontendmx.com/bodapatos/img/frame.png) no-repeat center / cover;
  width: 95%;
  height: 97%;
}
.label{
  position: absolute;
  margin: auto;
  background: url() no-repeat center top / 100%;
}
.t1{
  width: 35%;
  height: 110px;
  top: 8%;
  left: 11%;
  background-image: url(http://www.frontendmx.com/bodapatos/img/celihuber.png);
}
.t2{
  width: 36%;
  height: 110px;
  top: 8%;
  right: 9%;
  background-image: url(http://www.frontendmx.com/bodapatos/img/laujose.png);
}
.t3{
  width: 80%;
  height: 90px;
  top: 16%;
  left: 0;
  right: 0;
  background-image: url(http://www.frontendmx.com/bodapatos/img/intro.png);
}
.t4{
  width: 40%;
  height: 180px;
  top: 20%;
  left: 0;
  right: 0;
  background-image: url(http://www.frontendmx.com/bodapatos/img/joseyceli.png);
}
.t5{
  width: 40%;
  height: 120px;
  top: 39%;
  left: 0;
  right: 0;
  background-image: url(http://www.frontendmx.com/bodapatos/img/fechayhora.png);
}
.sticker{
  width: 45%;
  height: 40%;
  border-radius: 90px;
  position: absolute;
  margin: auto;
  cursor: pointer;
  background: url() no-repeat center top / 100%;
}
.s1{
  top: 43%;
  left: 5%;
  background-image: url(http://www.frontendmx.com/bodapatos/img/iglesia.png);
  transform: scale(0.9) rotate(-8deg);
}
.s2{
  top: 47%;
  right: 15%;
  background-image: url(http://www.frontendmx.com/bodapatos/img/coctel.png);
  transform: scale(1.1) rotate(5deg);
}
.s3{
  bottom: -10%;
  left: 16%;
  transform: rotate(-15deg);
  background-image: url(http://www.frontendmx.com/bodapatos/img/regalos.png);
}
.s4{
  bottom: -12%;
  right: 7%;
  transform: scale(0.9) rotate(4deg);
  background-image: url(http://www.frontendmx.com/bodapatos/img/contacto.png);
}
#popspace{
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.7);
  z-index: 3;
  transition: 1s;
  display: none;
}
.popup{
  width: 80vw;
  height: 30vh;
  border: 1px solid #ccc;
  font-size: 2vh;
  padding: 7% 8% 7% 20%;
  text-align: left;
  z-index: 3;
  left: -200vw;
  transform: rotate(3deg);
  transition: 1s;
  box-shadow: 0 0 30px var(--do-lightgray);
  color: var(--do-darkpurple);
}
.closebtn{
  font: 25px sans-serif;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
}
#pop_iglesia{
    background: #fefefe url(http://www.frontendmx.com/bodapatos/img/iglesia.png) no-repeat 10px center / 20%;
}
#pop_cocktail{
  background: #fefefe url(http://www.frontendmx.com/bodapatos/img/coctel.png) no-repeat 10px center / 20%;
}
#pop_regalos{
  background: #fefefe url(http://www.frontendmx.com/bodapatos/img/regalos.png) no-repeat 10px center / 20%;
}
#pop_contacto{
  background: #fefefe url(http://www.frontendmx.com/bodapatos/img/contacto.png) no-repeat 10px center / 20%;
}